[submodule "Integrated-Path/sales_approvals_workflow"]
	path = Integrated-Path/sales_approvals_workflow
	url = git@github.com:Integrated-Path/sales_approvals_workflow.git
	branch = master

[submodule "Integrated-Path/od_digital_link_custom"]
	path = Integrated-Path/od_digital_link_custom
	url = git@github.com:Integrated-Path/od_digital_link_custom.git
	branch = master

[submodule "Integrated-Path/od_purchase_approval"]
	path = Integrated-Path/od_purchase_approval
	url = git@github.com:Integrated-Path/od_purchase_approval.git
	branch = master

[submodule "Integrated-Path/bi_pos_multi_currency"]
	path = Integrated-Path/bi_pos_multi_currency
	url = git@github.com:Integrated-Path/bi_pos_multi_currency.git
	branch = 16.0

[submodule "Integrated-Path/prt_report_attachment_preview"]
	path = Integrated-Path/prt_report_attachment_preview
	url = git@github.com:Integrated-Path/prt_report_attachment_preview.git
	branch = master
