[submodule "Integrated-Path/sales_approvals_workflow"]
	path = Integrated-Path/sales_approvals_workflow
	url = git@github.com:Integrated-Path/sales_approvals_workflow.git
	branch = master

[submodule "Integrated-Path/od_digital_link_custom"]
	path = Integrated-Path/od_digital_link_custom
	url = git@github.com:Integrated-Path/od_digital_link_custom.git
	branch = master

[submodule "Integrated-Path/od_purchase_approval"]
	path = Integrated-Path/od_purchase_approval
	url = git@github.com:Integrated-Path/od_purchase_approval.git
	branch = master

[submodule "Integrated-Path/bi_pos_multi_currency"]
	path = Integrated-Path/bi_pos_multi_currency
	url = git@github.com:Integrated-Path/bi_pos_multi_currency.git
	branch = 16.0

[submodule "Integrated-Path/prt_report_attachment_preview"]
	path = Integrated-Path/prt_report_attachment_preview
	url = git@github.com:Integrated-Path/prt_report_attachment_preview.git
	branch = master

[submodule "Integrated-Path/od_move_balance"]
	path = Integrated-Path/od_move_balance
	url = git@github.com:Integrated-Path/od_move_balance.git
	branch = 16

[submodule "Integrated-Path/accounting_partner_ledger"]
	path = Integrated-Path/accounting_partner_ledger
	url = git@github.com:Integrated-Path/accounting_partner_ledger.git
	branch = master

[submodule "Integrated-Path/stock_available"]
	path = Integrated-Path/stock_available
	url = git@github.com:Integrated-Path/stock_available.git
	branch = master

[submodule "Integrated-Path/pos_stock_available_online"]
	path = Integrated-Path/pos_stock_available_online
	url = git@github.com:Integrated-Path/pos_stock_available_online.git
	branch = master

[submodule "Integrated-Path/hyd_restrict_location"]
	path = Integrated-Path/hyd_restrict_location
	url = git@github.com:Integrated-Path/hyd_restrict_location.git
	branch = master

[submodule "Integrated-Path/invoice_by_journal_users"]
	path = Integrated-Path/invoice_by_journal_users
	url = git@github.com:Integrated-Path/invoice_by_journal_users.git
	branch = 16

[submodule "Integrated-Path/16_Balance_Fix"]
	path = Integrated-Path/16_Balance_Fix
	url = git@github.com:Integrated-Path/16_Balance_Fix.git
	branch = master

[submodule "Integrated-Path/advanced_entertainment_journal_customization"]
	path = Integrated-Path/advanced_entertainment_journal_customization
	url = git@github.com:Integrated-Path/advanced_entertainment_journal_customization.git
	branch = master

[submodule "Integrated-Path/hide_cost_price"]
	path = Integrated-Path/hide_cost_price
	url = git@github.com:Integrated-Path/hide_cost_price.git
	branch = master

[submodule "Integrated-Path/report_qweb_pdf_watermark"]
	path = Integrated-Path/report_qweb_pdf_watermark
	url = git@github.com:Integrated-Path/report_qweb_pdf_watermark.git
	branch = master

[submodule "Integrated-Path/mai_product_pricelist_dynamic_listview"]
	path = Integrated-Path/mai_product_pricelist_dynamic_listview
	url = git@github.com:Integrated-Path/mai_product_pricelist_dynamic_listview.git
	branch = master

[submodule "Integrated-Path/od_job"]
	path = Integrated-Path/od_job
	url = git@github.com:Integrated-Path/od_job.git
	branch = master

[submodule "Integrated-Path/web_remember_tree_column_width"]
	path = Integrated-Path/web_remember_tree_column_width
	url = git@github.com:Integrated-Path/web_remember_tree_column_width.git
	branch = master

[submodule "Integrated-Path/od_unique_mobile"]
	path = Integrated-Path/od_unique_mobile
	url = git@github.com:Integrated-Path/od_unique_mobile.git
	branch = master

[submodule "Integrated-Path/partner_search_by_phone_bs"]
	path = Integrated-Path/partner_search_by_phone_bs
	url = git@github.com:Integrated-Path/partner_search_by_phone_bs.git
	branch = master
